/* General styles */

div {
    color: magenta;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

h2, h4 {
    margin: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

/* Styles for class and ID demonstration */
.class1 {
    color: greenyellow;
}

#id1 {
    font-weight: normal;
    font-family: cursive;
    background-color: indigo;
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.3em;
    border: solid greenyellow 3px;
}

/* Styles for absolute and relative positioning demonstration */

.parent {
    color: black;
    padding: 1em;
    background-color: #777;
    border-radius: 0.7em;
    position: relative;
}

.child {
    color: black;
    padding: 0.5em;
    background-color: steelblue;
    position: static;
}

.abs {
    background-color: turquoise;
    position: absolute;
    top: 30%;
    left: 40%;
    opacity: 40%;
}

.rel {
    background-color: palevioletred;
    position: relative;
    top: -0.3em;
    left: 3em;
    width: 50%;
}

/* Styles for float property demonstration */

#float_comment {
    display: inline-block;
    width: 50%;
}

.box {
    height: 6em;
    width: 6em;
    text-shadow: 1px 1px 7px black;
    font-size: 0.8em;
    color: white;
}

.red {
    background-color: red;
    float: right;
}

.green {
    background-color: green;
    float: right;
}

.blue {
    background-color: blue;
    float: right;
}

.yellow {
    background-color: yellow;
    float: right;
    clear: right;
}

.black {
    background-color: black;
}
